@use "./imports" as *;

h1 {
  display: none;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

section > ul {
  height: 80vh;
  width: 100%;
  background-color: red;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 50px 0px var(--color-black);
}

section > ul > li {
  overflow: visible;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  position: relative;
  

  &:nth-child(1) {
    background-color: #FFDA27;
  }
  &:nth-child(2) {
    background-color: blue;
  }
  &:nth-child(3) {
    background-color: green;
  }

  & article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2 {
      font-weight: 700;
      margin: 0;
      position: relative;
      width: fit-content;

      &::after {
        content:"";
        position: absolute;
        bottom: 0;
        right: -2rem;
        width: 50%;
        background-color: var(--color-black);
        height: 3px;
      }
    }

    cite {
      @include p-font;
      font-weight: 700;
      font-style: normal;
    }

    & p {
      font-size: 1rem;
      line-height: 1.2rem;
      max-width: 350px;
    }
  }

  & q {
    @include h1-font;
    z-index: 0;
    opacity: .1;
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: 2rem;
    position: absolute;
    left: -2rem;
    top: calc(50% - 46px);

    &:before, q:after {
      content:'';
    }
  }
}

section > ul > li > ul.squad-selection {
  height: 100%;

}
