<%- include('./partials/head') %>

<section>
  <ul>
    <li class="pikachu">
      <article>
        <h2>PIKACHU</h2>
        <cite>GIDS</cite>
        <p>
          Pikachu is hier om je te helpen! Als je vragen 
          stelt geeft hij je mentale steun terwijl je het 
          zelf oplost. Je kunt volgens hem op de mascottes 
          rechts klikken om de squad pages te bekijken
        </p>
      </article>
      
  
      <img class="looped-img" src="../public/assets/pikachu.png" alt="Pika pi" />
      <q class="background-name">PIKACHU</q>
        
      <nav>
        <ul class="squad-selection">
          <% squads.forEach(squad => { %>
          <li>
            <a>
              <img src="" alt="" />
              <!-- title text -->
            </a>
          </li>
          <% }) %>
        </ul>
        <!-- pagination -->
      </nav>
    </li>
  
    <% squads.forEach(squad => { %>
    <li>
      <h2><%= squad.id %></h2>
      <cite>cite</cite>
      <p>paragraph</p>
  
      <img class="looped-img" src="" alt="" />
      <q class="background-name">q tag</q>
  
      <nav>
        <ul>
          <% squads.forEach(squad => { %>
          <li>
            <a>
              <img src="" alt="" />
              <!-- title text -->
            </a>
          </li>
          <% }) %>
        </ul>
        <!-- pagination -->
      </nav>
    </li>
    <% }) %>
  </ul>
</section>


<%- include('./partials/foot') %>
