@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --h1-size: 2.25rem;
  --h1-line: 2.75rem;
  --h2-size: 2rem;
  --h2-line: 2.5rem;
  --h3-size: 1.5rem;
  --h3-line: 2rem;
  --h4-size: 1.25rem;
  --h4-line: 1.5rem;
  --h5-size: 1rem;
  --h5-line: 1.25rem;
  --h6-size: 1rem;
  --h6-line: 1.25rem;
  --p1-size: 1rem;
  --p1-line: 1.5rem;
  --weight-medium: 500;
  --weight-light: 300;
  --primary-color: #6D90B9;
  --secondary-color: #BBC7DC;
  --color-white: #fff;
  --color-fog: 217, 217, 217;
  --scrollbar-color: #727a9a;
  --color-black: #000;
}
@media only screen and (min-width: 580px) {
  :root {
    --h1-size: 3.5rem;
    --h1-line: 4rem;
    --h2-size: 2.5rem;
    --h2-line: 3rem;
    --h3-size: 2rem;
    --h3-line: 2.5rem;
    --h4-size: 1.5rem;
    --h4-line: 2rem;
    --h5-size: 1.25rem;
    --h5-line: 1.5rem;
    --h6-size: 1.125rem;
    --h6-line: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --h1-size: calc(3.5rem * 1.125);
    --h1-line: calc(4rem * 1.125);
    --h2-size: calc(2.5rem * 1.125);
    --h2-line: calc(3rem * 1.125);
    --h3-size: calc(2rem * 1.125);
    --h3-line: calc(2.5rem * 1.125);
    --h4-size: calc(1.5rem * 1.125);
    --h4-line: calc(2rem * 1.125);
    --h5-size: calc(1.25rem * 1.125);
    --h5-line: calc(1.5rem * 1.125);
    --h6-size: calc(1.125rem * 1.125);
    --h6-line: calc(1.5rem * 1.125);
    --p1-size: calc(1rem * 1.125);
    --p1-line: calc(1.5rem * 1.125);
  }
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
  width: 1rem;
}
html ::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
html ::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 2rem;
}
html ::-webkit-scrollbar-thumb:active {
  background: var(--color-black);
}

h1 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--h1-size);
  line-height: var(--h1-line);
  color: var(--color-black);
  margin-bottom: 2rem;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--h2-size);
  line-height: var(--h2-line);
  color: var(--color-black);
  margin-bottom: 2rem;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--h3-size);
  line-height: var(--h3-line);
  color: var(--color-black);
  margin-bottom: 2rem;
}

h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--h4-size);
  line-height: var(--h4-line);
  color: var(--color-black);
  margin-bottom: 2rem;
}

h5 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--h5-size);
  line-height: var(--h5-line);
  color: var(--color-black);
  margin-bottom: 2rem;
}

h6 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--h6-size);
  line-height: var(--h6-line);
  color: var(--color-black);
  margin-bottom: 2rem;
}

p {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--p1-size);
  line-height: var(--p1-line);
  color: var(--color-black);
  margin-bottom: 1rem;
}

body {
  background-color: #265893;
  min-height: 100vh;
}

main {
  height: 100vh;
}

@media only screen and (min-width: 0px) {
  head, main, footer {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 580px) {
  head, main, footer {
    padding: 0 6rem;
  }
}
@media only screen and (min-width: 768px) {
  head, main, footer {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 1024px) {
  head, main, footer {
    padding: 0 10rem;
  }
}
@media only screen and (min-width: 1200px) {
  head, main, footer {
    padding: 0 10rem;
  }
}
h1 {
  display: none;
}

section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

section > ul {
  height: 80vh;
  width: 100%;
  background-color: red;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 50px 0px var(--color-black);
}

section > ul > li {
  overflow: visible;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  position: relative;
}
section > ul > li:nth-child(1) {
  background-color: #FFDA27;
}
section > ul > li:nth-child(2) {
  background-color: blue;
}
section > ul > li:nth-child(3) {
  background-color: green;
}
section > ul > li article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section > ul > li article h2 {
  font-weight: 700;
  margin: 0;
  position: relative;
  width: fit-content;
}
section > ul > li article h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -2rem;
  width: 50%;
  background-color: var(--color-black);
  height: 3px;
}
section > ul > li article cite {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--p1-size);
  line-height: var(--p1-line);
  color: var(--color-black);
  margin-bottom: 1rem;
  font-weight: 700;
  font-style: normal;
}
section > ul > li article p {
  font-size: 1rem;
  line-height: 1.2rem;
  max-width: 350px;
}
section > ul > li q {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: var(--weight-light);
  font-size: var(--h1-size);
  line-height: var(--h1-line);
  color: var(--color-black);
  margin-bottom: 2rem;
  z-index: 0;
  opacity: 0.1;
  font-size: 12rem;
  font-weight: 700;
  letter-spacing: 2rem;
  position: absolute;
  left: -2rem;
  top: calc(50% - 46px);
}
section > ul > li q:before, section > ul > li q q:after {
  content: "";
}

section > ul > li > ul.squad-selection {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
